body {
  background-image: url(./pintura.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 900px;
  background-image: linear-gradient(to right top, #f4acd6, #ec9ed4, #e391d4, #d885d4, #ca79d6, #bb6ed0, #ab64c9, #9b5ac3, #894cb2, #773fa1, #653290, #542580); */
}

#color-palette {
  text-align: center;
}

.botoes {
  text-align: center;
  margin-top: 20px;
}

#clear-board:hover,
#generate-board:hover {
  background-color: rgba(155, 151, 151, 0.637);
  cursor: pointer;
}

#title {
  text-align: center;
}

.color {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#color-palette .color:nth-child(1) {
  background-color: black;
}

#color-palette .color:nth-child(2) {
  background-color: rgb(25, 47, 187);
}

#color-palette .color:nth-child(3) {
  background-color: yellow;
}

#color-palette .color:nth-child(4) {
  background-color: red;
}

#clear-board {
  background-color: white;
}

#pixel-board {
  padding-left: 580px;
  padding-top: 50px;

}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid rgba(247, 241, 241, 0.719);
  outline-style: none;
  cursor: pointer;
}
